.topPanel {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.topPanel {
  top: 0;
}

.actionButton,
.disabledButton {
  padding: 1em;
  width: 250px;
  border: none;
  color: inherit;
  background: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: inherit;
  font-weight: bold;
}

.disabledButton {
  opacity: 0.5;
  cursor: default;
}

.actionButton:hover {
  background: rgb(255, 255, 255, 0.2);
  outline: none;
}

.smallerFont {
  font-size: 0.7rem;
}