.cardContainer {
  width: 16vh;
  height: 90%;
}

.cardContainerStrategyAction {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  height: 60%;
  max-height: 30vw;
}

.strategyCardImg {
  height: 100%;
  transition: scale 0.1s ease-in-out;
}

.clickable:hover {
  cursor: pointer;
}

.grab:hover {
  cursor: grab;
}

.scaledBigger:hover {
  scale: 1.1;
}

.draggedOver {
  scale: 1.1;
}

.tooltip {
  position: absolute;
  top: -40%;
  left: 0;
  right: 0;
  font-size: 2vh;
}

.button {
  position: absolute;
  top: 20%;
  left: 7%;
  width: 70%;
  height: 15%;
  font-weight: bold;
  font-size: 2vh;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  background: rgb(255, 255, 0);
  border-radius: 0.7em;
  transition: scale 0.1s ease-in-out;
}

.button:hover {
  scale: 1.03;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .button {
    font-size: 1.3vw;
  }
}

@media (max-height: 600px) {
  .button {
    font-size: 1.9vh;
  }
}
