@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.3);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255, 0.5);
}